<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Burnside High School Canteen</title>
</head>

<body>

    <div class="Content">
    
        <section class="hero-image">
            <h1>Burnside High School Canteen</h1>
        </section>
    </div>

    <div class="banner">
        <p>Welcome to the Burnside High School Canteen! Here you can check items in our canteen and give suggestions and ratings back! Enjoy!</p>
    </div>

    <div class="menu-buttons">
        {% for category in categories %}
            <a href="/menu#{{ category.id }}">{{ category.name }}</a>
        {% endfor %}
    </div>
</body>
</html>