<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Burnside High School Canteen</title>
</head>

<body>
        <!-- title -->
        <div class="hero-image">
            <a href="/"><img src="/static/Images/BHS.png" alt="Burnside_High_School_Logo"></a>
            <h1>Burnside High School Canteen</h1>
        </div>

    <div class="banner"> <p>Welcome to the Burnside High School Canteen Menu!</p> </div>

    <!-- menu buttons -->
    <div class="menu-buttons">
        {% for category in categories %}
            <a href="/menu#{{ category.id }}">{{ category.name }}</a>
        {% endfor %}
    </div>
    
    <!-- footer -->
    <div class="footer">
        <h3>2025 Burnside High School Canteen, all rights reserved<br> Contact 22011@burnside.school.nz for questions/errors<br></h3>
    </div>
</body>
</html>