<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>

    </style>
</head>
<body>

    <div class="hero-image">
            <a href="/"><img src="/static/Images/BHS.png" alt="Burnside_High_School_Logo"></a>
            <h1>Burnside High School Canteen</h1>
    </div>
    <!-- Item Detail Section -->
    <div class="item_detail">
        <h2>{{ item.name }}</h2>
        <img src="{{ item.image_link }}" alt="{{ item.name }}">
        <p>Price: ${{ item.price }}</p>
        <p>Description: {{ item.description }}</p>
        {% if item.healthy_options %}
            <p>Healthy Options: {{ item.healthy_options }}</p>
        {% else %}
            <p>No healthy options available.</p>
        {% endif %}
        <a href="/menu#hot_food_every_day">Back to Menu</a>


<div class="footer">
        <h3>2025 Burnside High School Canteen, all rights reserved 
            <br> Contact 22011@burnside.school.nz for questions/errors<br></h3>
</div>
</body>
</html>