<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteen Menu</title>
    <link rel="stylesheet" href="static/style.css">
    <style>
        html {
            scroll-behavior: smooth;
        }
        img{
            width: 400px;
            height: 300px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!--Navigation tool -->
    <nav>
        <div class="hero-image">
            
                <a href="/"><img src="/static/Images/BHS.png" alt="Burnside_High_School_Logo"></a>

                <h1>Burnside High School Canteen</h1>
            <div class="nav_search">
                <input class="search" id="searchBar" maxlength= "30" type="text" placeholder="Search items here...">
            </div>
        </div>

        <div class="nav_links">
            {% for category in categories %}
                <a class="linkage" href="#{{category.id}}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </nav>

    <!-- Shows whole menu items  -->
     {% for category in categories %}
    <section  style="margin-top: 100px;" id="{{ category.id }}">
        <h1>{{ category.name }}</h1>
        <div class="category_items">
                {% for item in category.menu_items %}
                <a href="/item/{{ item.id }}">
                    <div class="item">
                        <img src="{{ item.image_link }}" alt="{{ item.name }}">
                        <h3>{{ item.name }}</h3>
                        <p class="price"> Price: ${{ "%.2f"|format(item.price) }}</p>
                    </div>
            </a>
                {% endfor %}
    </div>
</section>
    {% endfor %}
    
        <script>
        // Search bar filter
        document.getElementById('searchBar').addEventListener('input', function(e) {// Get input from search bar
            const search = e.target.value.toLowerCase(); // Converts the words to lowercase
            document.querySelectorAll('section').forEach(section => {
                let visible = false;
                section.querySelectorAll('.item').forEach(item => { // grabs all items
                    const name = item.querySelector('h3').textContent.toLowerCase(); // gets the name of the menu item and turns it lowercase
                    // Check if the name is the same as the search text
                    if (name.includes(search)) {
                        item.style.display= ''; // shows the item if it matches
                        visible = true;
                    } 

                    //show nothing if no match
                    else{
                        item.style.display = 'none';
                        //footer section hides if no items are visible
                        document.querySelector('.footer').style.display = 'none';
                        visiable = false;
                    }

            });
                section.style.display = visible ?'' : 'none';
        });
    });
        //grabs sections and nav links
        const sections = document.querySelectorAll('section');
        const navLinks = document.querySelectorAll('nav a');
        
        //creates an observer
        const observer = new IntersectionObserver((entries) => {// callback when intersection changes
            // loop
            entries.forEach(entry => { 
                // check if genre is intersecting
                if (entry.isIntersecting) {
                    const id = entry.target.getAttribute('id'); // get id of category
                    const heading = entry.target.querySelector('h1');// get heading of category
                    // change the website title to current category
                    if (heading){
                        document.title = heading.textContent + ' | Canteen Menu';
                    }
                    // change the URL to current genre/category
                    const newurl = `/menu#${id}`;
                    if (window.location.hash !== `#${id}`) {
                        window.history.replaceState(null, '', newurl);
                    
                    }
               
            }
        });
    }, { threshold: 0.15 }); //if 15% of the genre is scrolled then the code above runs
        
    // checking each category to see if it is intersecting
        sections.forEach(section => {
            observer.observe(section); //observe each category
        });
    </script>


<!-- Footer -->
<div class="footer">
        <h3>2024 Burnside High School Canteen, all rights reserved.</h3>
    </div>

</body>
</html>