<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<section id="hot_food" data-url="/menu/hot_food">
    <div class="layout">
        {% for f in hot_food %}
        <div class="card">
            <img src="{{f[9]}}" alt="Photo coming soon!" width="400px" height="300px">
            <h2>
                {{f[1]}}
                <br>Price: ${{f[2]}}
            </h2>
        </div>
        {% endfor %}
    </div>
</section>

<section id="hot_food_different_meal" data-url="/menu/hot_food_different_meal">
    <div class="layout">
        {% for f in hot_food_different_meal %}
        <div class="card">
            <img src="{{f[9]}}" alt="Photo coming soon!" width="400px" height="300px">
            <h2>
                {{f[1]}}
                <br>Price: ${{f[2]}}
            </h2>
        </div>
        {% endfor %}
    </div>
</section>




<script>
    const sections = document
</script>




</body>
</html>

